 body {
    width: 1485px;
 }
 * {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;

}
header {
    position: sticky;
    top: 0px; 
    z-index: 1;
}
.container {
    background-color: white;
    width: 100%;
    height: 75px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_container img {
    padding: 220px;
}
.ul-container ul {
    display: flex ;
    list-style: none;
    padding: 110px;
    font-size: 15px;
}
.ul-container ul li {
    padding: 15px;
}
.ul-container li:hover {
    color: #fb5849;
}
.KlassyCafe-1 {
    width: 100%;
    height: 700px;
    display: flex;
}
@media (max-width: 1374px) {
    .KlassyCafe-container {
        width: 100%;
    } 
}
.KlassyCafe-container {
    /* width: 1485px; */
    width: 100%;
}
.KlassyCafe-2 {
    background-image: url(images/top-left-bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    flex-direction: column;
    width: 36%;
}
.KlassyCafe-1 h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 52px;
    font-weight: 700;
    padding-bottom: 15px;
    margin-right: 7px;
}
.KlassyCafe-1 button {
    background: white;
    border: none;
    width: 185px;
    height: 40px;
    border-radius: 2%;
    margin-top: 20px;
    color: #fb5849;
    margin-right: 22px;
}
.KlassyCafe-1 button:hover {
    opacity: 0.8;
}
.slide-2 {
    background-image: url(images/slide-02.jpg);
    width: 71%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
.ABOUT-US {
    width: 33%;
    padding-left: 150px;
    padding-top: 80px;
    display: -webkit-box;
}
.ABOUT-US-1 h6 {
    color: #fb5849;
    font-size: 15px;
    letter-spacing: 2px;
    position: relative;
    padding-left: 45px;
}
.ABOUT-US-1 h6::before {
    width: 30px;
    height: 1px;
    content: '';
    position: absolute;
    left: 0;
    top: 11px;
    background-color: #fb5849;
}
.ABOUT-US-1 h1 {
    width: 400px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 900;
    color: #2a2a2a;
}
.ABOUT-US-1 a {
    text-decoration: none;
}
.ABOUT-US-1 p {
    font-size: 13px;
    margin-bottom: 20px;
}
.about-thumb {
    display: flex;
}
.about-thumb img {
    padding: 15px;
}
.about-video {
    background-image: url(images/about-video-bg.jpg);
    width: 540px;
    height: 460px;
    margin-left: 55px;
}
.fa-solid {
    color: white;
    background-color: red;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    width: 60px;
    border-radius: 50%;
    height: 50px;
    font-size: 20px;
    margin-left: 46%;
    margin-top: 42%;
}
.fa-solid:hover {
    opacity: 0.5;
    cursor:pointer;
}
.OUR-MENU {
    /* width: 1485px; */
    width: 100%;
    height: 700px;
    background-color: #fffafa;
    margin-top: 110px;
}
.OUR-MENU-1 {
    width: 24%;
    padding-left: 150px;
    padding-top: 80px;
    margin-bottom: 80px;
}
.OUR-MENU-1 h6 {
    color: #fb5849;
    font-size: 15px;
    letter-spacing: 2px;
    position: relative;
    padding-left: 45px;  
}
.OUR-MENU-1 h6::before {
    width: 30px;
    height: 1px;
    content: '';
    position: absolute;
    left: 0;
    top: 11px;
    background-color: #fb5849;
}
.OUR-MENU-1  p {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 900;
}
.menu-item {
    display: flex;
    overflow: hidden;
    border-radius: 2%;
}
.menu-item1:hover .Chocolate-Cake {
    transform: translateY(-111px) translateZ(0);
}
.menu-item2:hover .Chocolate-Cake {
    transform: translateY(-111px) translateZ(0);
}
.menu-item3:hover .Chocolate-Cake {
    transform: translateY(-111px) translateZ(0);
}
.menu-item4:hover .Chocolate-Cake {
    transform: translateY(-111px) translateZ(0);
}
.menu-item5:hover .Chocolate-Cake {
    transform: translateY(-111px) translateZ(0);
}
.menu-item1 {
    background-image: url(images/menu-item-01.jpg);
    width: 18%;
    height: 350px;
    background-size: cover;
    margin-left: 25px;
} 
.menu-item2 {
    background-image: url(images/menu-item-02.jpg);
    width: 18%;
    height: 350px;
    background-size: cover;
    margin-left: 25px;
} 
.menu-item3 {
    background-image: url(images/menu-item-03.jpg);
    width: 18%;
    height: 350px;
    background-size: cover;
    margin-left: 25px;
} 
.menu-item4 {
    background-image: url(images/menu-item-04.jpg);
    width: 18%;
    height: 350px;
    background-size: cover;
    margin-left: 25px;
} 
.menu-item5 {
    background-image: url(images/menu-item-05.jpg);
    width: 18%;
    height: 350px;
    background-size: cover;
    margin-left: 30px;
} 
.menu-item h3 {
    background-color: #fb5849;
    color: white;
    width: 32px;
    padding: 20px;
    border-radius: 4%;
    font-size: 20px;
    font-weight: 700;
}
.Chocolate-Cake {
    color: white;
    background-color: #fb5849;
    position: relative;
    top: 235px;
    transition: 0.5s ease-out;
}
.Chocolate-Cake h1 {
    margin-bottom: 10px;
    height: 45px;
    position: relative;
    top: 10px;
    left: 25px;
}
.Chocolate-Cake p {
    margin-left: 25px;
    line-height: 1.8;
    height: 100px;
}
.left { 
    text-align: center;
}
.fa-solid5 {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    color:#fb5849;
    position: relative;
    top: 40px;
    padding: 5px;
    OPACITY: 0.7;
} 
.fa-solid5:hover {
    opacity: 1;
    cursor: pointer;
}
.OUR-CHEFS {
    /* width: 1485px; */
    width: 100%;
}
.offers {
    text-align: center;
    position: relative;
    top: 100px;
}
.offers h5 {
    color: #fb5849;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 400;
}
.offers p {
    width: 300px;
    display: inline-block;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 80px;
}
.chefs-all {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 500px;
    /* width: 1485px; */
    width: 100%;
    margin-top: 60px;
}
.chefs-1 img  {
    width: 320px;
    margin-top: 5px;
}
.chefs-2 img {
    width: 320px; 
    margin-top: 5px;
}
.chefs-3 img {
    width: 320px;
    margin-top: 5px;
}
.chefs-1 {
    position: relative;
}
.chefs-2 {
    position: relative;
}
.chefs-3 {
    position: relative;
}
.title {
    margin-top: 20px;
}
.title h4 {
    font-size: 20px;
}
.chefs-title-1 {
    margin-right: 20px;
    width: 330px;
    border: 1px solid;
    border-radius: 1%;
    height: 410px;
}
.chefs-title-2 {
    width: 330px;
    border: 1px solid;
    border-radius: 1%;
    height: 410px;
}
.chefs-title-3 {
    margin-left: 30px;
    width: 330px;
    border: 1px solid;
    border-radius: 1%;
    height: 410px;
}
.F-T-G {
    position: absolute;
    bottom: 20px;
    left: 7px;
    background-color: #2a2a2a;
    width: 275px;
    height: 300px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    top: 7px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.F-T-G:hover {
    opacity: 0.7;
}
.chefs-title-1:hover {
    border-color: #fb5849;
}
.chefs-title-2:hover {
    border-color: #fb5849;
}
.chefs-title-3:hover {
    border-color: #fb5849;
}
.chefs-title-1:hover h4 {
    color:#fb5849;
}
.chefs-title-2:hover h4 {
    color:#fb5849;
}
.chefs-title-3:hover h4 {
    color:#fb5849;
}
.F-T-G-1 .fa-brands {
    padding: 13px;
    background-color: white;
    color: black;
    border-radius: 50%;
    margin: 5px;
}
.F-T-G-1 .fa-brands:hover {
    background-color: #fb5849;
    cursor: pointer;
}
.Table-Reservation-all {
    background-image: url(images/reservation-bg.jpg);
    /* width: 1485px; */
    width: 100%;
    height: 800px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}
.reservation {
    width: 50%;
    height: 762px;
}
.reservation-all {
    color: white;
    padding: 200px;
    width: 40%;
}
.CONTACT-US h3 {
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    position: relative;
    padding-left: 45px;
}
.CONTACT-US h3::before {
    width: 30px;
    height: 1px;
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    background-color:white;
}
.CONTACT-US {
    height: 210px;
    margin-top: 25px;
}
.CONTACT-US h1 {
    width: 425px;
    margin-top: 20px;
}
.CONTACT-US p {
    width: 600px;
    margin-top: 20px;
    font-size: 16px;
}
.Phone-Emails {
    display: flex;
    margin-top: 50px;
    width: 600px;
}
.Phone-Numbers {
    background: white;
    width: 275px;
    height: 150px;
    border-radius: 2%;
    color: black;
    text-align: center;
}
.Emails {
    background: white;
    width: 275px;
    height: 150px;
    border-radius: 2%;
    margin-left: 25px;
    color: black;
    text-align: center;
}
.fa-solid4 {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    background-color: red;
    border-radius: 50%;
    padding: 20px;
    color: white;
    font-size: 25px;
}
.Phone-Numbers .p-h3 {
    margin-top: 20px;
}
.Phone-Numbers .p-h3 p {
    font-weight: 900;
    font-size: 20px;
}
.Phone-Numbers .p-h3 h3 {
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
}
.Emails .p-h4 {
    margin-top: 20px;
}
.Emails .p-h4 p {
    font-weight: 900;
    font-size: 20px;
}
.Emails .p-h4 h4 {
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
}
.Table-Reservation {
    background-color: white;
    width: 480px;
    height: 560px;
    margin: 140px 0px 0px 90px;
    border-radius: 2%;
}
.Table-Reservation h1 {
    padding-top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.form {
    margin-top: 30px;
    text-align: center;
}
.form  select {
    appearance: none;
}
.form input {
    width: 170px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 15px;
    padding-left: 22px;
    padding-right: 15px;
    font-weight: 600;
}
.form input:focus {
    outline:#fb5849;
    border-color: #fb5849;
}
.form select {
    appearance: none;
    width: 210px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 15px;
    padding-left: 22px;
    padding-right: 15px;
    font-weight: 600;
    color: #808080;
    border-color: black;
}
.form select:focus {
    outline: #fb5849;
    border-color: #fb5849;
}
.form textarea {
    width: 380px;
    padding: 20px;
    height: 100px;
    border-radius: 5px;
}
.form textarea:focus {
    outline: #fb5849;
    border-color: #fb5849;
}
.form button {
    width: 426px;
    border-radius: 3px;
    color: white;
    background-color: #fb5849;
    cursor: pointer;
    border: none;
    height: 45px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
}
.form button:hover {
    opacity: 0.8;
} 
.KLASSY-WEEK {
    /* width: 1485px; */
    width: 100%;
}
.KLASSY-WEEK h4 {
    text-align: center;
    color: #fb5849;
    margin-top: 60px;
    margin-bottom: 20px;
}
.KLASSY-WEEK p {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: #2a2a2a;
    height: 140px;
}
.meals {
    display: flex;
    justify-content: center;
}
.meals img {
    width: 100px;
    padding: 20px;
    border-radius: 20px;
}
.meals p {
    font-size: 15px;
    font-weight: 600;
    margin-top: -8px;
}
.items-all {
    margin-left: 135px;
    height: 560px;
} 
.items-all {
    display: flex;
}
.Eggs-Omelette {
    display: flex;
    padding: 25px;
}
.Eggs-Omelette p {
    width: 350px;
}
.Eggs-Omelette div {
    margin-left: 30px;
}
.Eggs-Omelette h4 {
    background-color: #fb5849;
    padding: 23px;
    height: 23px;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
}
.end-site {
    background-color: #fb5849;
    /* width: 1485px; */
    width: 100%;
    height: 150px;
    display: flex;
    text-align: right;
    justify-content: center;
    align-items: center;
}
.end-site .fa-brands {
    background-color: white;
    padding: 14px;
    color: #fb5849;
    border-radius: 50%;
    margin-left: 11px;
}
.end-site .white-logo {
    width: 50%;
    justify-content: center;
    display: flex;
}
.end-site p {
    color: white;
}